
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Navbar Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="navbar.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Search by:</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
          <li><%= link_to "Athletes", "/athlete" %></li>
             <li><%= link_to "Brands", "/brand" %></li>
              <li><%= link_to "Sports", "/sport" %></li>
             
                </ul>
              </li>
            </ul>
              <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Home", "/" %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>

<% the_athlete_id = params["id"] %>

<% athlete_id = params["the_athlete_id"] %>
<% athlete = Athlete.read(the_athlete_id) %>
<% product = Product.find_by("athlete_id" => athlete["id"]) %>
<% if product.blank? %> <i>  </i> <% else %> <% brand = Brand.find_by("id" => product["brand_id"]) %>
	<% end %>


<%= image_tag(athlete["image_url"], height: '25%', width: '25%') %>
<h2> <%= athlete["first_name"] %> <%= athlete["last_name"] %></h2>

<!-- TWITTER API -->
<a href="https://twitter.com/<%= athlete["twitter_name"] %>" class="twitter-follow-button" data-show-count="true" data-show-screen-name= "true" data-lang="en">Follow <%= athlete["twitter_name"] %> </a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


<% team = Team.find_by("id"=> athlete["team_id"]) %>

<div> <b> Team: </b> <%= team["name"] %> </div>

<% if brand.blank? %> <div><i> No sponsors yet added to database </i></div><% else %> <div> <b> Sponsored by:</b>  </div> <%=  image_tag(brand["logo_url"], height: '25%', width: '25%') %> 
	<% end %>

<br>

<div><% if product.blank? %> <i>No products yet added to the database </i></div><% else %>
<li> <%= link_to product["name"], product["url"] %>  <%= link_to "(Delete)", "/product/#{product["id"]}", "method" => "delete" %> </li> 

	<% end %>

	<div class="page-header">
  <h1>Add a New Product</h1>
</div>


<div class="row">
  <div class="col-md-5">

    <%= form_tag "/product", "method" => "post"  %>

      </div>

       <div class="form-group">
        <%= select_tag "athlete_id",
                       options_from_collection_for_select(Athlete.read.order("first_name", "last_name"),
                        "id",
                        "last_name"), "class" => "form-control" %>
      </div>

      <div class="form-group">
        <%= label_tag "name", "Product Name:" %>
        <%= text_field_tag "name", "", "class" => "form-control" %>
      </div>

 	   <div class="form-group">
        <%= label_tag "picture", "Link to photo:" %>
        <%= text_field_tag "picture", "", "class" => "form-control" %>
      </div>

 	   <div class="form-group">
        <%= label_tag "url", "Link to purchase:" %>
        <%= text_field_tag "logo_url", "", "class" => "form-control" %>
      </div>

      <div class="form-group">
        <%= label_tag "brand_id", "Brand:" %>
             <%= select_tag "brand_id",
                       options_from_collection_for_select(Brand.read.order("name"),
                        "id",
                        "name"), "class" => "form-control" %>
      </div>

 <%= submit_tag "Add This Product", "class" => "btn btn-lg btn-success" %> or <%= link_to "Cancel", "/product/#{athlete["id"]}" %>

